{% extends "../layouts/public.html" %}

{% block content %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chartkick/2.2.4/chartkick.min.js"></script>

<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Sites</h6>
    <h3 class="dashhead-title">{{ site.Name }}</h3>
  </div>

  <div class="dashhead-toolbar">
    <div class="btn-group dashhead-toolbar-item btn-group-thirds">
      <form method="GET">
        <select name="range" class="form-control" onchange="this.form.submit()">
          {{ option_tag("past-2-hours", "Past 2hrs", range) }}
          {{ option_tag("past-24-hours", "Past 24hrs", range) }}
          {{ option_tag("past-72-hours", "Past 72hrs", range) }}
          {{ option_tag("past-7-days", "Past 7 days", range) }}
          {{ option_tag("past-1-month", "Past 1 month", range) }}
          {{ option_tag("past-1-year", "Past 1 year", range) }}
        </select>
      </form>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<label>Traffic Over the Past Day (by hour)</label>

<div id="daily-chart" style="height: 300px">Loading...</div>
<script type='application/javascript'>
new Chartkick.LineChart(
  'daily-chart', 
  '/api/sites/{{site.Id}}/events_over_time?granularity={{granularity}}&starting={{starting}}&ending={{ending}}'
);
</script>
{% endblock %}
